#top-editarea{
 background: #dcdcdc;/*外側の背景*/
 text-align: right;/*MENUの文字の位置*/
 opacity: 0.9;
}
#top-editarea .section{
 margin: 0;
 width: 100%;
}
.menu-toggle{
 color: #444444;/*MENUの文字色*/
 display: inline-block;
 padding: 5px;
}
#categoryMenu {
 display: none;
 padding: 0;
 margin: 0;
}
#categoryMenu li{
 list-style-type: none;
 background: #f5f5f5;/*リストの背景色*/
 margin: 0 auto;
}
#categoryMenu li a {
 color: #444444;/*リストの文字色*/
 font-weight: bold;
 display: block;
 padding: 7px;
 text-align: left;/*リストの文字の位置*/
}
